:root {
    --cone: rgba(93,109,126, 0.5);
    --ctwo: rgba(52,74,94,0.5);
    --ctw: rgba(5, 41, 75, 0.5);
    --cthree: rgba(203,67,53,0.5);
    --cfour: rgba(231, 76,60, 0.5);
    --dc: #333;
    --wc: #fff;
    --ac: #f4f4f4;
    --max-width: 1100px;
}

.catone {background: var(--cone)}
.cattwo {background: var(--cfour)}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--cfour);
    text-decoration: none;
}

html, 
body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--ac);
    line-height: 1.4;
}

p { line-height: 1.4;}
/* utility */
.container {
    max-width: var(--max-width);
    padding: 1rem;
    overflow: auto;
    margin: auto;
}

.m-heading {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    color: var(--cfour);
}

.category {
    text-transform: uppercase;
    padding: 0.5rem;
    display: inline-block;
    border: none;
    border-radius: 5px;
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
 }

.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}
.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem ;}

.bg-dark {
    background: var(--dc);
    color: var(--ac);
}

.btn {
    display: inline-blcok;
    CoLor: white;
    background: var(--cthree);
    padding: 1rem;
    border: none;
    margin: 1rem;
}

.btn:hover {
    font-size: 1.2rem;
    color: var(--ac);
    background: var(--cfour);
}
/* Navbar section */
#navbar {
    background: var(--cone);
    position: sticky;
    top: 0;
    z-index: 1;
}

 #navbar .container{
    display: flex;
    position: sticky;
    color: #fff;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    z-index: 1; 
    left: 0;   
    top: 0;
}

#navbar .work {
    display: inline-block;
    list-style: none;
}

#navbar .work img {
    width: 50px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    float: left;
}


#navbar .work ul {
    display: flex;
    padding: 1rem;
    list-style: none;
    line-height: 1.4;
    justify-items: center;
}

#navbar .work ul li {
    padding: 0.3rem;
}

#navbar .social {
    display: flex;
    align-items: center;
    letter-spacing: 0.7rem;
}

.social .fa-facebook, 
.social .fa-twitter {
    color: rgba(40, 57, 209, 0.794);
}

.social .fa-instagram {
    color: palevioletred;
}

#navbar .nav {
    display: flex;
    align-items: center;
    position: sticky;
}

.nav ul {
    display: flex;
    padding: 0.5rem;
}
.nav ul li {
    list-style: none;
    padding: 0 0.4rem;
    align-items: center;
}

.nav ul li a {
    text-decoration: none;
    display: inline;
    color: var(--wc);
    
}

.nav ul li a:hover {
    color: var(--cthree);
    background: var(--ac);
    padding: 0.5rem;
    border-radius: 5px;
}
/* showcase section */
#showcase {
    /* display: flex; */
    color: var(--wc);
    height: 100vh;
    position: relative;
    background: url(../img/jamiu2.jpg) no-repeat center center/cover;
}


#showcase .showcase-content{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    padding: 4rem;
    height: 100%;
    text-align: center;
    /* overlay */
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1;
}

.showcase-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#showcase-content p {
    font-size: 1.2rem;
    margin-top: 2rem;
}

/* about section */
#about {
    position: relative;
    background: var(--cone);
    overflow: hidden;
    border: var(--cthree) 2px dotted;
}

#about .about-content{
    display: grid;
    grid-template-columns: repeat();
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
   height: 600px;
   width: 100%;
    justify-items: evenly;
}

#about .about-content img {
    position: absolute;
    margin-top: 1rem;
    max-height: 100%;
    width: 40%;
    z-index: 0;
}

#about .about-content .aboutme {
    justify-items: center;
}

/* Projects */
#projects {
    background: var(--cone);
    position: relative;
    overflow: hidden;
}

/* #projects .project-packs {
    position: absolute;
} */
#projects .project-packs .art {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/span 2;
    border-bottom: 1px dotted var(--cfour);
    width: 100vw;
    padding: 1rem;
    z-index: 2;
}

/* #projects .project-packs .art::before {
    content: "";
    background: var(--cthree);
    color: var(--wc);
    top: 0;
    left: 0;
    padding: 0.5rem;
    
} */

#projects .project-packs .art img  {
    width: 50%;
    display: grid;

}

#projects .project-packs .art .expalain {
    padding: 1rem;
    width: 50%;
}

/* Contact Section */
#contact {
    background: var(--cone);
    /* position: relative; */
    /* max-width: var(--max-width); */
}

#contact{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 0;
}

#contact .contact-container img {
    width: 50%;
}